body {
  text-align: center;
}

.timer {
  perspective: 150px;
}

.countdown {
  opacity: 0;
  transform: translate3d(0, 0, -40px);
}

.countdown.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity .24s linear, transform .24s ease-in;
}

button {
  border: none;
  /*background: 0;*/
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  padding: 2rem;
  text-align: center;
  background: red;
  color: #fff;
  font-weight: 900;
  font-size: 2rem;
}


button:focus {
  outline: none;
}